body {
    background-image: linear-gradient(orange, orangered);
}

li {
    font-size: large;
}

p {
    font-size: x-large;
}

h1,
h2,
h3 {
    text-align: center
}

#homeLink {
    background-color: rebeccapurple;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px 5px black;
    padding: 1rem 2rem;
    text-align: center;
    display: inline-block;
    font-size: x-large;
    text-decoration: none;
}

#homeLink:hover {
    cursor: pointer;
}

#homeLink:active {
    box-shadow: none;
}

hr {
    border: 1px solid black;
}

#btnWrapper {
    display: flex;
    justify-content: center;
}