body {
    background-image: linear-gradient(orange, orangered);
}

li,
p {
    font-size: x-large;
}

p {
    text-align: center;
}

h1,
h2,
h3 {
    text-align: center
}

img {
    width: 32rem;
    height: 38rem;
    border: 5px solid black !important;
    box-shadow: 2px 4px 5px black !important;
    
}

#blogLink {
    background-color: rebeccapurple;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px 5px black;
    padding: 1rem 2rem;
    text-align: center;
    display: inline-block;
    font-size: x-large;
    text-decoration: none;
}

#blogLink:hover {
    cursor: pointer;
}

#blogLink:active {
    box-shadow: none;
}

#imgWrapper {
    display: flex;
    justify-content: center;
}

#btnWrapper {
    display: flex;
    justify-content: center;
}

#spotifyWrapper {
    width: 32rem;
    height: 38rem;
    float: left;
    margin-left: 1rem;
    box-shadow: 0 4px 8px 0 black;
    border-radius: .75rem;
}