main {
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-top: 8rem;
    width: 40rem;
    height: 20rem;
    background-color: #111;
    border-radius: 10px;
}

p {
    margin: 2rem;
}