body {
    /* background-image: linear-gradient(#2d2d30, #252526); */
    background: linear-gradient(45deg, #2f2f2f, #434343, #555555);
    background-size: 200% 200%;
    /* animation: gradientAnimation 10s ease infinite; */
    /* background-color: #252526; */
    color: white;
    font-family: 'Lato', 'sans-serif';
    margin: 2rem;
}

.content {
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

.animate {
    opacity: 1;
    animation: fadeIn 2s ease-out forwards;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1000px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


li,
p {
    font-size: x-large;
}

p {
    /* text-align: center; */
}

h1,
h2,
h3 {
    text-align: center
}

img {
    width: 16rem;
    height: 19rem;
    border-radius: 50%;
    border: 5px solid black !important;
    box-shadow: 2px 4px 5px black !important;
    
}

#imgWrapper {
    display: flex;
    justify-content: center;
}

#spotifyWrapper {
    width: 32rem;
    height: 38rem;
    float: left;
    margin-left: 1rem;
    box-shadow: 0 4px 8px 0 black;
    border-radius: .75rem;
}