.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    gap: 1rem;
}

.project h3,
.project p {
    padding: 0 0.5rem;
}

.project h3 {
    font-size: 1.25rem;
}

.project p {
    font-size: 1.1rem;
}

.project {
    width: 24rem;
    height: 26rem;
    border-radius: 10px;
    background-color: #555;
    box-shadow: 0 4px 8px 0 #000;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

#wumpus {
    background-image: url('../assets/wumpus.png');
}

#minecraft {
    background-image: url('../assets/minecraft.png');
    background-position: center;
    background-size: contain;
}

#edir {
    background-image: url('../assets/edir.jpg');
    background-position: center;
}

#tv {
    background-image: url('../assets/tv.jpg');
    background-position: center;
}

.textContainer {
    position: absolute;
    display: none;
    height: 60%;
    animation: disappear 0.3s ease-out;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    user-select: text;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}

@media(max-width: 450px) {
    .projects {
        display: flex;
        flex-direction: column;
    }

    .project {
        width: 18rem;
        height: 20rem;
    }

    .textContainer {
        display: block;
        height: 40%;
        overflow: scroll;
    }

    .project h3 {
        font-size: 1.25rem;
        margin: 0.25rem 0;
    }

    .project p {
        font-size: 0.9rem;
        margin: 0;
    }
}

@media(max-width: 1220px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 830px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}